<div class="container">	
<footer class="footer">
	<small>
		Основатель проекта<%= link_to " Вагайцев Алексей", 'http://vk.com/id5686009' %>				
	</small>
	<nav>
		<ul>
			<li><%= link_to "ВК",   'http://vk.com/studyplanner_app' %></li>
			<li><%= link_to "Google+", 'https://plus.google.com/u/0/communities/104110813298850801077' %></li>
		</ul>
	</nav>
</footer>
</div>